@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@300;400;700&family=Londrina+Solid&display=swap');

:root {
    --blue: #46a7a7; 
    --brown: #b49d9d;
    --pink: #e8dada;
    --background: #fbf7f5;
    --button-hover: #348484;
    --text: rgb(107, 107, 107);
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--background);
    color: var(--text);
}

ul {
    padding: 0;
    margin: 0;
}

#root {
    min-height: 100vh;
}

.container {
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

main {
    padding-top: 3rem;
    min-height: 100vh;
}

.header {
    font-size: 2.2rem;
    font-weight: normal;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.hidden {
    display: none;
}

/* Nav */

 nav {
    position: fixed;
    background-color: var(--background);
    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
}

.links {
    display: flex;
    justify-content: space-between;
    margin: .25rem 0 0 0;
    padding: 0 0 .5rem 0;
    width: 97%;
}

.nav-left {
    display: flex;
    gap: 2.5rem;
    justify-content: flex-start;
    margin-left: .25rem;
}

.nav-right {
    display: flex;
    gap: 2.5rem;
}

nav h4 {
    font-size: 3rem;
    color: var(--text);
    font-family: 'DM Serif Display', serif;
}

 nav li {
    list-style-type: none;
    font-size: 1.2rem;
    color: var(--text);
}

.link:hover {
    border-bottom: 1px solid var(--text);
    cursor: pointer;
}

.logo:hover {
    cursor: pointer;
}

.new-text {
    color: rgb(245, 202, 12);
}

.selected {
    border-bottom: 1px solid var(--text);
}

.cart-icon {
    width: 65px;
    margin-top: -1.75rem;
}

.cart-image {
    max-width: 50px;
} 

/* Home */

  .home-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@keyframes slide-in {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

 .hero-container {
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
} 

.hero {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    background: url(./images/hero-2.png);
    background-size: 30%;
    background-repeat: repeat;
} 

.home-text {
    grid-row: 2;
    grid-column: 2;
    align-self: flex-end;
    justify-self: flex-end;
    background-color: var(--background);
    padding: 2rem;
    border-top-left-radius: 18px;
    display: flex;
    flex-direction: column;
    gap: 1rem;  
}  

.home-text h1 {
    font-size: 2.25rem;
    margin: 0;
}

.home-text p {
    color: var(--text);
    font-size: 1.1rem;
    margin: 0;
}

.home-button {
    border: none;
    background-color: var(--blue);
    font-size: 1rem;
    padding: 10px 15px;
    box-shadow: -2px 2px 5px grey;
    color: white;
    font-family: 'Inter', sans-serif;
    margin-top: .5rem;
}

.home-button:hover {
    cursor: pointer;
    background-color: var(--button-hover);
}  

/* Shop */

 .shop-container {
    display: grid;
    grid-template-rows: auto;
    place-items: center;
    padding-top: 8rem;
    padding-bottom: 5rem;
}

header {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}


.products {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
    justify-content: center;
}

.add-button {
    border: none;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    padding: 8px;
    font-size: 1rem;
    background-color: var(--blue);
    color: white;
    width: 100%;
}

.add-button:hover {
    background-color: var(--button-hover);
    cursor: pointer;
}

.add-button:active {
    transform: translate(2px, 2px);
} 

/* Shop product */

 .shop-product-container {
    display: grid;
    place-items: center;
    gap: .75rem;
    width: 100%;
}

.shop-product-container:hover {
    color: var(--blue);
    cursor: default;
}

.shop-product-container figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
    margin: 0;
    width: 100%;
}

.shop-product-container figcaption {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--text) !important;
}

.shop-product-container p {
    margin: 0;
    font-size: 1.25rem;
}

.shop-product-image {
    width: 100%;
    height: 100%;
    font-size: 13rem;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    place-items: center;
} 

/* Cart */

 .cart-container {
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
    padding-bottom: 5rem;
}

.cart {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    justify-content: center;
    gap: 5rem;
}

.cart-products {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.summary {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.summary h2 {
    margin-top: 0;
}

.discount-text {
    color: rgb(186, 89, 89);
}

.total {
    display: flex;
    justify-content: space-between;
}

.total-text {
    font-size: 1.2rem;
}

hr {
    width: 100%;
}

.summary p {
    margin: 0;
    font-size: 1.2rem;
}

.summary h3 {
    margin: 0;
}

.checkout-button {
    border: none;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    padding: 8px;
    font-size: 1.1rem;
    background-color: var(--blue);
    color: white;
    width: 100%;
}

.checkout-button:hover {
    cursor: pointer;
    background-color: var(--button-hover);
}

.checkout-button:active {
    transform: translate(2px, 2px);
} 

/* Cart product */

 .cart-line {
    margin-bottom: 1.5rem;
}

.cart-product-container {
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
}

.cart-product-container figure {
    display: flex;
    gap: 1rem;
    margin: 0;
}

.cart-product-image {
    width: 300px;
    height: 100%;
    font-size: 10rem;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    place-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.cart-product-container figcaption {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    gap: .5rem;
    width: 100%;
}

.cart-product-container figcaption p, h4 {
    margin: 0;
}

.quantity {
    display: flex;
    align-items: center;
    gap: .5rem;
    border: 1px solid black;
    padding: .5rem;
    margin-top: 0;
    height: 20px;
}

.quantity p {
    margin: 0;
}

.quantity-button {
    border: none;
    background-color: transparent;
}

.quantity-button:hover {
    cursor: pointer;
}

#empty-cart {
    font-weight: normal;
}

.remove-button {
    border: none;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    color: var(--blue);
    text-align: left;
    font-size: 1rem;
    padding: 0;
}

.remove-button:hover {
    color: var(--button-hover);
    cursor: pointer;
} 

/* Account */

 .account-container {
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
    padding-bottom: 5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 400px;
    max-width: 500px;
    margin-top: 2rem;
}

.form-section {
    display: flex;
    gap: .5rem;
}

label {
    width: 150px;
}

input {
    border-radius: 7px;
    border: 1px solid rgb(225, 225, 225);
    padding: .2rem .4rem;
    font-family: 'Inter', sans-serif;
    color: var(--text);
    width: 100%;
}

.submit {
    border-radius: 5px;
    background-color: var(--blue);
    color: white;
    margin-top: 1rem;
    padding: 8px 12px;
    border: none;
    width: 100px;
    font-size: .9rem;
}

.submit:hover {
    cursor: pointer;
    background-color: var(--button-hover);
}

.invalid {
    border: 1px solid red;
}

@media (max-width: 480px) {
    
    .links {
        margin: 0;
        padding: 0;
        justify-content: space-evenly;
    }

    nav h4 {
        font-size: 2rem;
    }

    .nav-left {
        margin: 0 .5rem 0 0;
        padding: 0;
        gap: .5rem;
    }

    .nav-right {
        gap: .5rem;
    }

    nav li {
        font-size: 1rem;
    }

    .cart-icon {
        margin: 0;
    }

    .home-text {
        grid-row: 2;
        grid-column: 1 / 3;
        border-radius: 0;
        padding: 1rem;
        outline: 2px solid white;
    }

    .home-text h1 {
        font-size: 1.8rem;
    }

    .shop-product-image {
        font-size: 10rem;
    }

    .products {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 1.5rem;
        justify-content: center;
    }

    .cart {
        display: flex;
        flex-direction: column;
    }

    .cart-image {
        max-width: 30px;
    }

    .cart-product-container {
        display: flex;
        flex-direction: column;
    }

    .quantity {
        display: flex;
        justify-content: center;
        margin: 1rem auto 0 0;
    }

    #empty-cart {
        font-size: 1.25rem;
    }

    form {
        min-width: 200px;
        max-width: 350px;
    } 

} 

@media (min-width: 481px) and (max-width: 1180px) {
    .home-text {
        padding: 1.2rem;
    }
    
    .home-text h1 {
        font-size: 2rem;
    }

    .home-text p {
        font-size: 1rem;
    }

    .home-button {
        font-size: .9rem;
    }
}